body {
  font-family: 'Kelly Slab', cursive;
  background-color: #c1c1c1;
}

.container {
  display: flex;
  justify-content: center;
}

.images {
  width: 680px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 720px) {
  .images {
    width: 400px;
  }
}