.title {
    font-size: 150px;
    text-shadow: 2px 2px crimson;
    text-align: center;
    background-color: gray;
}

.scoreboard {
    text-align: center;
    font-size: 40px;
    background-color: crimson;
}

@media only screen and (max-width: 800px) {
    .title {
      font-size: 90px;
    }
    
    .scoreboard {
      font-size: 20px;
    }
  }

@media only screen and (max-width: 470px) {
  .title {
    font-size: 75px;
  }
  
  .scoreboard {
    font-size: 20px;
  }
}