.spans {
    text-shadow: 1px 1px crimson;
    font-size: 34px;
}

span {
    display: block;
    margin-bottom: 10px;
}

.quote {
    font-size: 30px;
}

.result {
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: grey;
    text-align: center;
}

.wrong {
    animation-name: wrong;
    animation-duration: 4s;
}

.correct {
    animation-name: correct;
    animation-duration: 4s;
}

@keyframes wrong {
    from {color: crimson; font-size: 38px;}
    to {color: black; font-size: 34px;}
}

@keyframes correct {
    from {color: greenyellow; font-size: 38px;}
    to {color: black; font-size: 34px;}
}

@media only screen and (max-width: 700px) {
.spans {
      font-size: 20px;
    }
  }